:host{
    font-family: "Cairo", sans-serif;
}
li a{
    font-size:1.5rem ;
    font-weight: 600;
    color: rgba(18, 116, 173, 1);
}
.profile{
    background-color: rgba(18, 116, 173, 1);
}
i{
    color: rgba(18, 116, 173, 1);
}
.welcome{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(18, 116, 173, 1);
}
.aktive{
    font-weight: 700;
}
nav{
    background-color: rgba(255, 255, 255, 1);
}