.big{
    min-height: 100vh;
    background-color: rgb(245,245,245);
}
 .ik{
    color: rgba(13, 77, 114, 1) !important;
 }
 p{
    color: rgba(102, 102, 102, 1)
 }
 :host{
    min-height: 100vh;
    font-family: "Cairo", sans-serif;
}
h2{
    font-weight: 500;
    color: rgba(13, 77, 114, 1);
    font-size: 25px;
    span{
        font-weight: 700;
    }
}

:host{
    min-height: 100vh;
    font-family: "Cairo", sans-serif;
}